$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.navbar {
  background-color: #ADD8E6
}

.signup {
  display: none;
}

.signin {
  display: none;
}

.signOut {
  display: none;
}

.changePW {
    display: none;
}

.changePlay {
    display: none;
}

.prevPlayMessage{
  text-align: left;
}

.box {
  border: solid;
  height: 150px;
  margin: 5px;
  text-align: center;
  font-size: 15px;
  display: inline-block;
  text-align: center;
}

.bigbox{
  border: solid;
  height: inherit;
  margin: 5px;
  text-align: center;
  font-size: 15px;
}
.minibox {
  border: solid;
  height: inherit;
  margin: 5px;
  text-align: center;
  font-size: 15px;

}
