$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#change-password {
  background-color:#ACEDFF;
  border: ridge;
}

#delete_play {
  background-color:#89BBFE;
  border: ridge;
}

#get1Play {
  background-color:#6F8AB7;
  border: ridge;
}

#updatePlay {
  background-color:#6F8AB7;
  border-top: none;
  border-left:ridge;
  border-right:ridge;
  border-bottom: ridge;
}

#playInput {
  background-color: #8C8994;
  border: ridge;
}

#plays{
  background-color: #ACEDFF;
  border: ridge;
  width: 100%;
}

html {
  background-color: #CAE5FF;
  background-size: cover;
}

.tommytd {
  display: block;
  height: 200px;
  width: 200px;
}
.navbar {
  background-color: #615D6C
}

.messageboard{
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
               font-size: 30px;
               color: #F2552C;
}

.signup {
  display: none;
}

.signin {
  display: none;
}

.signOut {
  display: none;
}

.changePW {
    display: none;
}

.changePlay {
    display: none;
}

.prevPlayMessage{
  text-align: left;
}

.row{
  margin: inherit;
}
.box {
  border: solid;
  height: 150px;
  margin: 5px;
  width: inherit;
  text-align: center;
  font-size: 15px;
  display: inline-block;
  text-align: center;
}

.bigbox{
  height: inherit;
  margin: 5px;
  text-align: center;
  font-size: 15px;
  width: inherit;
}
#lastPlay {
  margin: inherit;
}

.minibox {
  border: solid;
  height: inherit;
  margin: 5px;
  text-align: center;
  font-size: 15px;
  width: 300px;
}
