$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.navbar {
  background-color: #ADD8E6
}

.signup {
  display: none;
}

.signin {
  display: none;
}

.signOut {
  display: none;
}
